# exclude all by default

*

# exceptions from `exclude all` rule

README.md
!.yarnrc.yml
!.yarn/**

!package.json
!yarn.lock
!.snyk

!gulpfile.js
!tsconfig.json

!src/main/**
!config/**
!acb.yaml
!Dockerfile

