node_modules/
.nyc_output
.sass-cache
*.css

.idea/
*.iml
*.iws
*.ipr

*swp
*log
.DS_Store

src/main/public/img/lib/*
src/main/public/js/lib/**/*.js
src/main/public/stylesheets/lib/*

node-rpm-packaging/
mochawesome-report/
npm-debug.log.*

/.classpath
/.project
.settings/
target/

package-lock.json

coverage/
.scannerwork/

/BEFTA Report for Smoke Tests/
/BEFTA Report for Functional Tests/

# Gradle
.gradle/
out/
bin/
build/
