language: node_js
node_js:
  - "8.4"
cache: yarn
install:
  - npm install -g codecov
script:
  - yarn --version
  - yarn check
  - yarn lint
  - yarn test
  - yarn test:nsp
  - yarn test:routes
  - yarn test:a11y
  - yarn test:coverage
group: edge
sudo: required
