{% extends "govuk/template.njk" %}

{% block pageTitle %}
  CCD Case Print Service
{% endblock %}

{% block head %}
  <link rel="stylesheet" media="all" href="/stylesheets/app.css"/>
  <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
{% endblock %}

{% block header %}
  <header class="govuk-template__header {%- if headerClasses %} {{ headerClasses }}{% endif %}" {{- govukAttributes(headerAttributes)}}>
    {% block headerStart %}{% endblock %}
    {% block govukHeader %}
      {{ govukHeader() }}
    {% endblock %}
    {% block headerEnd %}{% endblock %}
  </header>
{% endblock %}
