description: Helm chart for the HMCTS CCD Case Print Service
apiVersion: v2
name: ccd-case-print-service
home: https://github.com/hmcts/ccd-case-print-service
version: 1.2.2
maintainers:
  - name: HMCTS CCD Dev Team
    email: ccd-devops@HMCTS.NET
dependencies:
  - name: nodejs
    version: 2.3.8
    repository: '@hmctspublic'
