name: Auto-suppress CVEs

on:
  push:
    branches:
      - fix-yarn-audit-dp
  schedule:
    # At 12 midnight and every 3rd hour from 10am through 11pm
    - cron: "0 0,10-23/3 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.HMCTS_GITHUB_CCD_APP_ID }}
          private_key: ${{ secrets.HMCTS_GITHUB_CCD_PRIVATE_KEY }}

      - uses: actions/checkout@v3
        with:
          token: ${{ steps.generate-token.outputs.token }}
          ref: master

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - name: Enable Corepack (Yarn 4.9.3)
        run: |
          corepack enable
          corepack prepare yarn@4.9.3 --activate

      - name: Configure NPM auth
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Run yarn audit
        run: yarn npm audit --recursive --environment production --json > yarn-audit-known-issues || true
        # continue-on-error: true

      - name: Check if working directory has changes
        id: check_git_changes
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            echo "has_changes=true" >> $GITHUB_OUTPUT
          else
            echo "has_changes=false" >> $GITHUB_OUTPUT
          fi

      - name: Fail if added lines contain Yarn errors
        run: |
          added="$(git diff | grep '^+' | sed 's/^\+//')"

          clean_added="$(echo "$added" | sed 's/\x1b\[[0-9;]*m//g')"

          if echo "$clean_added" | grep -q 'YYN0035: Bad Request'; then
            echo "Forbidden Yarn error found in added lines."
            exit 1
          fi

      - name: Commit suppressed CVEs if there are changes
        if: steps.check_git_changes.outputs.has_changes == 'true'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Auto-suppress CVEs
          branch: master
          skip_dirty_check: true
